@import "tailwindcss";
:root{
    --background: #f0f0f1;
    --background-box: #b8e6bf;
    --color-text: #f0f0f0;
    --box-shadow: 10px 5px 21px -1px rgba(0,0,0,0.73);
    --border-radius: 8px;
    --border-left: 5px solid #A4A112;
    --footer-header: #101517;
}
